

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(105, 104, 104);
}

.container {
    display: flex;
    
    
}

.nav {
    width: 25%;
    height: 100%;
    border: 1px solid rgb(105, 104, 104);
    position: fixed;
     z-index: 1;
     overflow-x: hidden;
   top: 0;
   left: 0;

}

.nav h1 {
    padding: 15px;
   
    margin: 0;
}

.nav h3 {
    border: 1px solid rgb(105, 104, 104);
    padding: 8px;
    
    margin: 0;
}

.nav a {
    color: rgb(105, 104, 104);
    text-decoration: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
}

.topics {
    margin-left: 30%;
    padding: 30px;
    width: 70%;

}

li {
    padding: 5px;
    line-height: 1.8;
}

p {
    line-height: 1.3;
}

.code {
    background-color: rgb(246, 246, 246);
    padding: 15px;
    margin: 10px;
}